.ownImage{
    background-image: url("/public/images/background.jpg");
    background-repeat:no-repeat;
    background-position: center top ;
    background-size: 100% 100%;
    
  }
.con{
  width: 70%;
} 
.cursor-pointer{
  cursor: pointer;
} 
.cursor-default{
  cursor: default;
} 
#languages{
  z-index: 99999;
  position: absolute;
  top: 17px;
  right: 5px;
  width: 66px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  padding-right: 0px;
  background-color: #f4f3ef;
}
.overflow-hidden{
  overflow: hidden;
}

.crown{
  color: #EB5E28; 
   font-size: 30px;  
    margin: auto; 
    text-align:center;
}
.user{
  font-size: 10px;
}
.customfooter{
  padding: 5px 1.25rem !important;
}
.customheader{
  padding: 3px 0px 0px 0px  !important;
  margin-top: 10px;
}
.customtab-content{
  min-height: 250px !important;
  padding: 2px 20px !important;
}
.customcard-body{
  padding: 0px 0px 0px;
}
.customh5{
  text-align: center;
  font-weight: 300;
  margin: 0px 0 20px !important;
}
.showpass{
  position: absolute;
   right: 0px;
   top: 0px;
   z-index: 999999;
   height: 100%;
}
.showpass .input-group-text {
  border: none !important;
  background: none !important;
}
/*input[type="password"]{
  border: 1px solid #ddd;
  border-left: none;
}
[type='password']{
  border-right: 0px;
}
*/
.after{
  content: "";
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: hsla(0, 0%, 100%, .5);
  margin-left: 15px;
}
#map {
	border-radius:.125em;
	border:1px solid #66615b;
	margin: 8px 0;
	float:left;
	width:100%;
	height:400px;	
}
.leaflet-control-search {
  display: none !important
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #257eca;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #257eca;
  cursor: pointer;
}

.min-height{
  min-height: 500px
}

.anket label{
  font-size: 22px;
  font-weight: bold;
}
.anket{
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: 2px solid #6d839a;
  cursor: move;
  margin-top: 5px;
  border-radius: 16px;
}
.anketDummy{
  z-index: 99999 !important;
  min-width: 600px !important;
}
.anket .form-check-label{
  font-size: 16px !important;
}
.anket .form-check-radio{
  margin-top: 5px;
}
.miniButton{
  margin-left: -4px;
  margin-top: -7px; 
  padding-left: 0px;
}
.miniButton button{
  border-radius: 0px;
  padding: 3px !important;   
  font-weight: bold; 
}
.miniButton button i{
  font-weight: bold; 
}
.mainAnket{
  position: relative;
}
.mainAnket > button{
    position: absolute;
    right: 9px;
    top: -5px;
    border-radius: 33px;
    padding: 1px;
}
.copy{
  display: none;
}
#anketSorulari{
  background-color: #f1f1f1;
}
.anketSorusu{
  padding-top: 10px;
}
.anketSorusu:after{
  background-color: #66615b;
  opacity: .4;
  content: "";
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
}
.anketSorusu .soru>label{
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #555 !important;
  font-family: Lato, sans-serif;
  word-break: break-word;
} 
.anketSorusu .cevap{
  padding-top: 20px;
}
.checkboxLayer{
  overflow: auto;
  height: 200px;

}
.checkboxLayer > .form-check{
  margin-left: 20px;
}
.prettyBorder{
  border: .8px solid #cdbfad;
  border-radius: 20px;
  padding:30px ;
}
.listStyle{
  list-style: decimal !important; 
}
.pdfMiniButton{
  border-width: 0px !important;
  padding: 3px !important;
}
.jconfirm-content{
  overflow: hidden !important;
}
#resultPdf li{
  display: inline-block;
}
#resultPdf a{
      padding: 0px !important; 
}
#resultPdf li>div{
      padding: 0px !important; 
}
#resultPdf{
  display: inline-block;
  padding: 5px;
}

#shadow-mask{
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  opacity: 0.4;
  background-color: dimgrey;
}
#spinner {
  display: none;
  position: fixed;
  z-index: 999999;
  top: 30%;
  left: 50%;
  border: 3px solid  #ffffff;
  font-size: 80px;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top-color: #0058ff;
}

@-webkit-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
