extends defaultBody

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title DataTables.net
        .card-body
          .row
              .col-sm-12
                table#datatable.table.table-striped.table-bordered.dataTable.dtr-inline(cellspacing='0' width='100%' role='grid' aria-describedby='datatable_info' style='width: 100%;')
    script. 
        function datatable(){
            this.Employee=function( name, position, salary, office ) {
                this.name = name;
                this.position = position;
                this.salary = salary;
                this._office = office;
            
                this.office = function () {
                    return this._office;
                }
            };
            _this=this;
            $('#datatable').DataTable( {
                data: [
                    new _this.Employee( "Tiger Nixon", "System Architect", "$3,120", "Edinburgh" ),
                    new _this.Employee( "Garrett Winters", "Director", "$5,300", "Edinburgh" )
                ],
                columns: [
                    { data: 'name' },
                    { data: 'salary' },
                    { data: 'office' },
                    { data: 'position' }
                ]
            });
        }
    
 
        