extends defaultBody

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title=title
        .card-body
          .text-right.mb-4
            a(href='/Form/Sayfalar/Yeni_Kayıt')
              button.ml-4.btn.btn-sm.btn-success(type='button')
                i.ti-pin-alt.mr-1
                | Kayıt Oluştur
          .row
            .col-sm-12
              .table-responsive
                table.table
                  thead.text-primary
                    tr
                      each key in tableHead
                        if key=="id" 
                          th.text-center #
                        else 
                          th.text-center=l.getLanguage(key)
                      th.text-right=l.getLanguage("aksiyon")        
                  tbody
                    each item in tableBody
                      tr
                        each key in tableHead
                          td.text-center=item[key]
                        td.text-right
                          button.btn.btn-info.btn-icon.btn-sm.mr-1.ml-1(type='button' rel='tooltip' data-original-title)
                            i.fa.fa-user
                          button.btn.btn-success.btn-icon.btn-sm.mr-1.ml-1(type='button' rel='tooltip' data-original-title)
                            i.fa.fa-edit
                          button.btn.btn-danger.btn-icon.btn-sm.mr-1.ml-1(type='button' rel='tooltip' data-original-title)
                            i.fa.fa-times