extends ./includes/defaultBody

block content
  .row
    .col-md-12
          .row
            .col-md-4
                  input.form-control(ajax-key="f",name='urunFoto',type='file',max="200",accept="image/gif, image/jpeg, image/png")    
            .col-md-8
                .form-group.has-label
                  label
                    =l.getLanguage("urunAdi")
                  input.form-control(ajax-key="f",name='urunAdi',enforced,max=200, type='text')

          .text-right.mb-4
            button.ml-4.btn.btn-sm.btn-success.btn-outline-success.btn-round(type='button',onclick=`Dynajax('test','f',formBasarili,true,{id:${targetData && targetData.id?targetData.id:null},method:'${targetData && targetData.id?'update':'create'}'})`) 
              i.ti-check-box.mr-1  
              =l.getLanguage("kaydet")